@model List<MvcApplication1.Models.File.FileModel>

<script>
    $(document).ready(function () {
        $("#mytable #checkall").click(function () {
            if ($("#mytable #checkall").is(':checked')) {
                $("#mytable input[type=checkbox]").each(function () {
                    $(this).prop("checked", true);
                });

            } else {
                $("#mytable input[type=checkbox]").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });

        $("[data-toggle=tooltip]").tooltip();
    });

</script>
<script src="~/Contents/Scripts/jquery.min.js"></script>
<script src="~/Contents/Scripts/bootstrap.min.js.js"></script>
@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
@*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet" type="text/css" />
@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
@*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
@*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@

<div class="container">
    <div class="row">


        <div class="col-md-12">
            <h4>Add Partners to the file</h4>

            @if (Model.Count > 0)
            {
                <div class="table-responsive">

                    <table id="mytable" class="table table-bordred table-striped">

                        <tr>

                            <th><input type="checkbox" id="checkall" /></th>
                            <th>File ID</th>
                            <th>Name</th>
                            <th>Owner Email</th>
                            <th>File Type</th>


                        </tr>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id=" ">
                                    <td id="@item.FileId"><input type="checkbox" value="@item.FileId" class="checkthis" /></td>
                                    <td id="StudentIdData"> @item.FileId</td>
                                    <td id="NameData"> @item.Name</td>
                                    <td id="EmailData"> @item.Path</td>
                                    <td id="CollegeNameData"> </td>


                                </tr>
                            }


                        </tbody>

                    </table>
                    <div class="clearfix pull-right"></div>
                    <div class="pagination pull-right">
                        <button id="AssignStudentId" data-toggle="modal" data-target="#AddApaymentsPopUpBootStap" name="AddPayments" class="btn btn-primary">Add Partners</button>
                        <button id="ViewPartners" data-toggle="modal" data-target="#ViewPartnerPopUpBootStap" name="ViewPayments" class="btn btn-primary">View  Partners</button>
                    </div>
 

                </div>
            }
            else
            {
                <h5>No students added yet!!!</h5>
                <a class="btn btn-warning  " href="~/Student/index">Add Student</a>

            }


        </div>
    </div>
</div>

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <form method="post" action="~/Student/Edit">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Update Student</h4>
                </div>
                <div class="modal-body">


                    <input class="form-control " type="text" id="EditStudentId" name="StudentId" style="display:none">

                    <div class="form-group">
                        <label for='subject'>Name :</label>
                        <input class="form-control " type="text" id="EditName" name="Name">
                    </div>
                    <div class="form-group">
                        <label for='subject'>Email :</label>
                        <input class="form-control " type="text" id="EditEmail" name="Email">
                    </div>
                    <div class="form-group">
                        <label for='subject'>Mobile :</label>
                        <input class="form-control " type="text" id="EditContactNo" name="ContactNo">
                    </div>


                    <div class='form-group'>
                        <label for='subject'>College :</label>
                        <select id="EditCollegeName" name="CollegeName" class="form-control">

                            <option value="0">Not applicable</option>
                            @*@foreach (var College in ViewBag.Colleges)
                                {
                                    <option value="@College">@College</option>

                                }*@

                        </select>
                        @*<input type='text' id='Categoryid' name="Category" class='form-control' />*@
                    </div>


                    <div class='form-group'>
                        <label for='subject'>Project :</label>
                        <select id="EditProjectName" name="ProjectName" class="form-control">

                            <option value="0">Not finalised</option>


                        </select>
                        @*<input type='text' id='Categoryid' name="Category" class='form-control' />*@
                    </div>

                    <div class="form-group">
                        <label class="control-label">Fees :</label>
                        <input maxlength="100" id="EditFees" type="number" name="Fees" class="form-control" value="0" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Course Type :</label>
                        <select id="EditCourseType" name="CourseType" class="form-control">

                            <option value="Project Class">Project Class</option>
                            <option value="Internship">Internship</option>
                            <option value="Internship and Project">Internship and Project</option>
                            <option value="Technology Course">Technology Course</option>
                        </select>

                    </div>


                    <div class="form-group" style="display:none">
                        <label class="control-label">Payment Type :</label>
                        <select id="EditPaymentType" name="PaymentType" class="form-control">

                            <option value="Not Paid">Not Paid</option>
                            <option value="Advance">Advance</option>
                            <option value="Full Payment">Full Payment</option>
                            <option value="Partial payment">Partial payment</option>
                        </select>

                    </div>
                    <div class="form-group">
                        <label for='subject'>Total Payments Rs :</label>
                        <input class="form-control " type="text" id="EditPaidAmount" disabled name="Amount">
                        <span class="fa fa-question-circle"></span><a style="font-size:10px"> You cannot update total amount .Please click view transaction button to edit amount</a>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" data-toggle="modal" data-target="#AddCollegePopUpBootStap" name="signup" class="btn btn-default">Add College</button>
                    <button type="button" data-toggle="modal" data-target="#AddProjectDetails" name="signup" class="btn btn-default">Add Project</button>
                    <button type="submit" id="BtnEdit" data-toggle="modal" data-target="#notready" name="Excel" class="btn btn-primary"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
                    @*<button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>*@
                </div>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>

            </div>
            <div class="modal-footer ">

                <a id="ConfirmDelete" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes</a>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

 


<div class="modal fade" id="AddApaymentsPopUpBootStap" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="container">
                <h4>Add Partners</h4>
                <form class="form-horizontal" action="~/File/AddPartners" method="post">
                    <div class="form-group">
                        <input type="hidden" id="colFileIdPopUpBootStap" name="FileId">
                        <label class="control-label col-sm-2">Registered Partners :</label>
                        <div class="col-sm-2">
                            <select id="EditPaymentType" name="PartnerId" class="form-control">

                                @foreach (var user in ViewBag.Users)
                                {
                                    <option value="@user.UserID">@user.Username</option>

                                }

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for='subject' class="control-label col-sm-2">Remarks</label>
                        <div class="col-sm-2"> <input class="form-control " type="text" id="EditPaidAmount" name="Remarks"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-2">
                            <button type="submit" class="btn btn-default">Add Partners</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="ViewPartnerPopUpBootStap" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="container">
                <h4>View Partners</h4>

            </div>
        </div>

    </div>
</div>


<script>
    $(document).ready(function () {
        var CommonStudentId;

        $(".InzenLoaderCss").click(function () {
            $("#InzenLoader").css({ "display": "block" });
        });

        var countChecked = function () {
            var n = $("input:checked").length;
            if (n == 1) {
                $("#AssignStudentId").attr("disabled", false);
                $("#ViewTransactionsId").attr("disabled", false);
                var me = $(this);
                CommonStudentId = me.val();
            } else {
                $("#AssignStudentId").attr("disabled", "disabled");
                $("#ViewTransactionsId").attr("disabled", "disabled");
            }
        };
        countChecked();

        $("input[type=checkbox]").on("click", countChecked);


        $(".popUpEditer").click(function () {

            var GetId = 'GridData' + this.id;
            var tr = document.getElementById(GetId);
            var td = tr.getElementsByTagName("td");
            $('[id$=EditStudentId]').val(td["StudentIdData"].innerHTML);
            $('[id$=EditName]').val(td["NameData"].innerHTML);
            $('[id$=EditEmail]').val(td["EmailData"].innerHTML);
            $('[id$=EditCollegeName]').val(td["CollegeNameData"].innerHTML);
            $('[id$=EditPaidAmount]').val(td["AmountData"].innerHTML);
            $('[id$=EditProjectName]').val(td["ProjectData"].innerHTML);
            $('[id$=EditContactNo]').val(td["ContactNoData"].innerHTML);
            $('[id$=EditPaymentType]').val(td["PaymentTypeData"].innerHTML);
            $('[id$=EditFees]').val(td["FeesData"].innerHTML);
            $('[id$=EditCourseType]').val(td["CourseTypeData"].innerHTML);
        });

        $(".popUpDelete").click(function () {
            var me = $(this);
            $('#ConfirmDelete').attr("href", "/Student/DeleteStudent?StudentId=" + me.val());
        });

        $("#AssignStudentId").click(function () {
            $('[id$=colFileIdPopUpBootStap]').val(CommonStudentId);
        });

        $("#ViewTransactionsId").click(function () {
            $(location).attr('href', '/Student/Transactions?StudentId=' + CommonStudentId);

        });


        $("[data-toggle=tooltip]").tooltip();
    });

</script>